<div class="row">
  <div class="col s12 orange lighten-3">
    <nav class="orange lighten-3 z-depth-0">
        <div class="container">
            <div class="nav-wrapper menu">
                <img class="logo left" src="images/labelscript.png">
                <ul class="right">
                    <!--
                    <li><a class="waves-effect waves-light"><i class="material-icons">save</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">system_update_alt</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">present_to_all</i></a></li>
                    -->
                    <li><a class="waves-effect waves-light print"><i class="material-icons">print</i></a></li>
                    <li><a href="https://github.com/neontribe/labelscript">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
  <div class="col s12 editor-code z-depth-1">
    <ul class="controls">
        <li><a class="modal-trigger move btn waves-effect waves-light lime accent-4" href="#move-modal">Move</a></li>
        <li><a class="modal-trigger rotate btn waves-effect waves-light blue" href="#rotate-modal">Rotate</a></li>
        <li><a class="modal-trigger loop btn waves-effect waves-light amber" href="#loop-modal">Loop</a></li>
        <li><a class="modal-trigger jump btn waves-effect waves-light red" href="#jump-modal">Jump</a></li>
    </ul>
  </div>
  <div class="col s12">
      <div id="editor">
      </div>
  </div>
</div>

<!-- MODALS -->
<!-- todo use a modal template rather than 4 modals -->
<div id="move-modal" class="modal move lime accent-4">
    <div class="modal-content">
        <h4>Move Command</h4>
        <p>Add a new MOVE command</p>
        <label>Move By
            <input name="data" placeholder="e.g 103"/>
        </label>
    </div>
    <div class="modal-footer red">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ok">Ok</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
<div id="rotate-modal" class="modal blue rotate">
    <div class="modal-content">
        <h4>Rotate Command</h4>
        <p>Add a new ROTATE command</p>
        <label>Rotate By
            <input name="data" placeholder="e.g 360"/>
        </label>
    </div>
    <div class="modal-footer amber">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ok">Ok</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
<div id="loop-modal" class="modal amber loop">
    <div class="modal-content">
        <h4>Loop Command</h4>
        <p>Add a new LOOP command</p>
        <label>Loop 'x' times
            <input name="data" placeholder="e.g 3"/>
        </label>
    </div>
    <div class="modal-footer blue">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ok">Ok</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
<div id="jump-modal" class="modal red jump">
    <div class="modal-content">
        <h4>Jump Command</h4>
        <p>Add a new JUMP command</p>
        <label>Jump by
            <input name="data" placeholder="e.g 17"/>
        </label>
    </div>
    <div class="modal-footer lime accent-4">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ok">Ok</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>
