<div class="row">
  <div class="col s12 orange lighten-3">
    <nav class="orange lighten-3 z-depth-0">
        <div class="container">
            <div class="nav-wrapper menu">
                <img class="logo left" src="images/labelscript.png">
                <ul class="right">
                    <li><a class="waves-effect waves-light"><i class="material-icons">save</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">system_update_alt</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">present_to_all</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">print</i></a></li>
                    <li><a href="https://github.com/neontribe/labelscript">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
  <div class="col s12 editor-code z-depth-1">
    <ul class="controls">
        <li><button class="move btn waves-effect waves-light lime accent-4">Move</button></li>
        <li><button class="rotate btn waves-effect waves-light blue">Rotate</button></li>
        <li><button class="loop btn waves-effect waves-light amber">Loop</button></li>
        <li><button class="jump btn waves-effect waves-light red">Jump</button></li>
    </ul>
  </div>
  <div class="col s12">
      <div id="editor">
      </div>
  </div>
</div>
