<div class="row">
  <div class="col s12 m8 l9">
    <nav>
        <div class="container">
            <div class="nav-wrapper menu">
                <img class="logo left" src="images/labelscript.png">
                <ul class="right">
                    <li><a class="waves-effect waves-light"><i class="material-icons">system_update_alt</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">present_to_all</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">description</i></a></li>
                    <li><a class="waves-effect waves-light"><i class="material-icons">print</i></a></li>
                    <li><a href="https://github.com/neontribe/labelscript">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="controls">
        <button class="move">Move</button>
        <button class="rotate">Rotate</button>
        <button class="loop">Loop</button>
        <button class="jump">Jump</button>
    </div>

    <div id="editor">
        <!--
        <div class="commands">
        </div>
        <div class="label">
            <ul class="column">
                <li class="blk"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="column">
                <li></li>
                <li></li>
                <li class="blk"></li>
                <li></li>
            </ul>
        </div> -->
    </div>
  </div>
  <div class="col s12 m4 l3 editor-code z-depth-1">
    <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
    </ul>
  </div>
</div>



<!--
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Made By</h5>
        <p class="grey-text text-lighten-4">James, Harry, Nat, Ben.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Our Websites</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/neontribe/labelscript">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">James' Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Harry's Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Nat's Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Ben's Site Link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    </div>
  </div>
</footer> -->
