<div class="row">
  <div class="col s12 orange lighten-3">
    <nav class="orange lighten-3 z-depth-0">
        <div class="container">
            <div class="nav-wrapper menu">
                <img class="logo left" src="images/labelscript.png">
                <ul class="right">
                    <li><a class="waves-effect waves-light"><i class="material-icons">print</i></a></li>
                    <li><a href="https://github.com/neontribe/labelscript">Github</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </div>
  <div class="col s12 editor-code z-depth-1">
    <ul class="controls">
        <li><button class="move">Move</button></li>
        <li><button class="rotate">Rotate</button></li>
        <li><button class="loop">Loop</button></li>
        <li><button class="jump">Jump</button></li>
    </ul>
  </div>
	<div class="col s12 m8 l9">
		<div id="editor">
		</div>
	</div>
</div>




<!--
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Made By</h5>
        <p class="grey-text text-lighten-4">James, Harry, Nat, Ben.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Our Websites</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/neontribe/labelscript">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">James' Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Harry's Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Nat's Site Link</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Ben's Site Link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    </div>
  </div>
</footer> -->
