<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="App">
    <div class="App-header">
        <h2>Demo Page For Each Component</h2>
    </div>
    <div>
        <div class="logo">
            <img src="images/labelscript.png">
        </div>
    </div>
    <div class="button">
        <button class="waves-effect waves-light btn">
            <i class="material-icons">system_update_alt</i>
        </button>
        <button class="waves-effect waves-light btn">
            <i class="material-icons">present_to_all</i>
        </button>
        <button class="waves-effect waves-light btn">
            <i class="material-icons">description</i>
        </button>
        <button class="waves-effect waves-light btn">
            <i class="edium material-icons">print</i>
        </button>
    </div>
    <div class="previewbox">
        <input type="checkbox">
    </div>
</div>