<h1>Printer Diagnostics</h1>
<table>
    <thead>
        <tr>
            <th>Connection</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ printer.status }}</td>
        </tr>
    </tbody>
</table>

<script>
setTimeout(function() {
    window.location.reload();
},    5000);
</script>
